<a href="https://colab.research.google.com/github/Rookey4ever/-Coursera_Capstone/blob/master/Coursera_Capstone_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Segmenting and Clustering Neighborhoods in Toronto

In [0]:
import pandas as pd

In [0]:
d=pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')

In [25]:
type(d)

list

In [26]:
len(d)

3

This means there are 3 tables. We only want to select the first 1.

In [0]:
df=d[0]

In [28]:
df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

Ignore rows where Borough is not assigned

In [0]:
df=df[df['Borough'] != 'Not assigned']

In [30]:
df.head()

  Postcode           Borough     Neighbourhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M5A  Downtown Toronto       Regent Park
6      M6A        North York  Lawrence Heights

Reset Indeces

In [0]:
df.reset_index(drop=True, inplace=True)

In [32]:
df.head()

  Postcode           Borough     Neighbourhood
0      M3A        North York         Parkwoods
1      M4A        North York  Victoria Village
2      M5A  Downtown Toronto      Harbourfront
3      M5A  Downtown Toronto       Regent Park
4      M6A        North York  Lawrence Heights

Combining Postcodes with multiple Neighbourhoods

In [0]:
df = df.groupby('Postcode').agg({'Borough':'first', 
                             'Neighbourhood': ', '.join }).reset_index()

In [34]:
df.head()

  Postcode      Borough                           Neighbourhood
0      M1B  Scarborough                          Rouge, Malvern
1      M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2      M1E  Scarborough       Guildwood, Morningside, West Hill
3      M1G  Scarborough                                  Woburn
4      M1H  Scarborough                               Cedarbrae

In [0]:
df.loc[df.Neighbourhood == 'Not assigned', 'Neighbourhood'] = df.Borough

Replace Columns when Neighbourhood is Not assigned with the Borough Name

In [36]:
df.shape

(103, 3)

Now we need to get Latitude and Longitude

In [0]:
from google.colab import files

In [38]:
uploaded = files.upload()

Saving Geospatial_Coordinates.csv to Geospatial_Coordinates (1).csv

In [39]:
for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

User uploaded file "Geospatial_Coordinates.csv" with length 2891 bytes

In [0]:
import io

In [0]:
df1 = pd.read_csv(io.StringIO(uploaded['Geospatial_Coordinates.csv'].decode('utf-8')))

In [42]:
df1.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

Now we need to merge the two dataframes on postal codes

In [0]:
df2= df.merge(df1,left_on='Postcode', right_on='Postal Code')

In [46]:
df2.head()

  Postcode      Borough  ...   Latitude  Longitude
0      M1B  Scarborough  ...  43.806686 -79.194353
1      M1C  Scarborough  ...  43.784535 -79.160497
2      M1E  Scarborough  ...  43.763573 -79.188711
3      M1G  Scarborough  ...  43.770992 -79.216917
4      M1H  Scarborough  ...  43.773136 -79.239476

[5 rows x 6 columns]

In [0]:
df2=df2[['Postal Code', 'Borough', 'Neighbourhood', 'Latitude', 'Longitude']]

In [49]:
df2.head()

  Postal Code      Borough  ...   Latitude  Longitude
0         M1B  Scarborough  ...  43.806686 -79.194353
1         M1C  Scarborough  ...  43.784535 -79.160497
2         M1E  Scarborough  ...  43.763573 -79.188711
3         M1G  Scarborough  ...  43.770992 -79.216917
4         M1H  Scarborough  ...  43.773136 -79.239476

[5 rows x 5 columns]